.collapse {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height:auto;
    line-height: 0;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    }
    
    .collapseOrder {
        display: flex;
        justify-content: space-between;
        align-items:center;
        width: 100%;
        height: auto;
        min-height: 10px;
        padding: 0 10px;
        margin-top: -10px;
        line-height: 0;
        overflow: hidden;
        background-color:#f6f6f6;
    }
    
    .collapseOrder p {
        display: flex;
        font-size: 15px;
        margin-left: 10px;
        line-height: 0;
    }

    .collapseOrder img {
        display: flex;
        width: 20px;
        margin-right: 10px;
        background-color:#f6f6f6;
    }
    
    .collapseIcon {
        display: flex;
        position:relative;
        font-size: 15px;
        padding: 0;
        margin: 0;
        line-height: 0%;
        color: #000000;
        background-color:#f6f6f6;
        cursor: pointer;;
        border: none;
    }  

    .collapseContent {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        z-index: 1;
        width: 100%;
        font-size: 17px;
        height: auto;
        line-height: 1;
        padding: 0;
        margin: 0;
        background-color: #ffffff;
        overflow: hidden;
        color: #000000;
        margin-bottom: -10px ;
        cursor: pointer;
    }

    .toto {
        margin-left: -30px;
        padding-left: -30px;
    }
   