.containerForm {
    display: flex;
    width: 280px;
    height: auto;
    /* background-color: yellowgreen; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.field {
    display: flex;
    width: 250px;
    height: auto;
    /* background-color: orange; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px;
}

.address {
    width: 230px;
}

.collapse {
    padding: 10px 0
}

.collapseLabel {
    width: 250px;
    margin-left: 0;
    margin-bottom: 5px;
}