.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: auto;
    margin: auto;
}

fieldset {
    margin-bottom: 15px;
}

.field {
    display: flex;
    width: 250px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px ;
}

toto {
    width: 280px
}
